@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #f7f6f2;
}

.contact-h {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: rgb(90, 62, 43);
    margin-top: 11px;
    font-size: 27px;
}

.contact-h p {
    color: #6B6B6B;
    font-size: 17px;
    max-width: 52vw;
    margin: auto;
}

.contact-all {


    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 90vw;
    margin: auto;
    margin-top: 70px;
    font-family: "Poppins", sans-serif;
    border-radius: 20px;
    height: 86vh;
    gap: 40px;
}

.contact-c h2 {
    color: rgb(90, 62, 43);
    position: relative;
    top: -20px;
}

.contact-c {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: 20px;
    padding-top: 72px;
    background-color: white;

}
.contact-c a{
    text-decoration: none;
    color: black;
}
.contact-c a:hover {
    /* color: wheat; */
     color: rgb(90, 62, 43);
    transition: 0.1s cubic-bezier(0.57, 0.68, 0.45, 1.36);


    transition: color 0.3s;
}

.contact-f {
    background-color: white;
    padding-left: 20px;
    padding-top: 52px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contact-f input {

    padding: 15px;
    padding-right: 362px;
    border: 1px solid #d0cdcd;
    border-radius: 6px;
    width: 13vw;
}

.contact-f textarea {
    padding: 15px;
    padding-right: 362px;
    border: 1px solid #d0cdcd;
    border-radius: 6px;
    width: 13vw;
    height: 22vh;
    font-family: "Poppins", sans-serif;
}

.contact-f .submit-btn {
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(90, 62, 43);
    padding: 15px;
    padding-right: 192px;
    border-radius: 6px;
    width: 41vw;
    border: none;
    cursor: pointer;
    padding-left: 188px;
}
.contact-f .submit-btn:hover{
    
    background-color: #916d38;
}
.last{
    color: #6B6B6B;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-top: 60px;
}

.footer {
    background-color: #2f2620;
    margin-top: 50px;
    padding: 29px 20px;
    /* margin-top: 235px; */
}

.footall {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: "Poppins", sans-serif;
    max-width: 89vw;
    margin: auto;
    margin-top: 66px;
    gap: 90px;
}

.footh h1 {
    color: #f5efe6;

}

.footh p {
    color: #cfc6b8;
    padding-top: 10px;
    width: 20vw;
}

.ft-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 21px;
}

.footh h2 {
    color: #f5efe6;
    font-size: 21px;
}


.ft-links a {
    display: flex;
font-size: 14px;
    flex-direction: column;
    text-decoration: none;
    color: #cfc6b8;
}

.ft-links a:hover {
    color: wheat;
    transition: 0.1s cubic-bezier(0.57, 0.68, 0.45, 1.36);


    transition: color 0.3s;
}
.sep{
    width: 96vw;
    height: 1px;
    background-color: wheat;
    margin-top: 72px;
}
.end{
    text-align: center;
     color: #cfc6b8;
     margin-top: 19px;
     font-family: "Poppins", sans-serif;
     font-size: 18px;
}
.end-links{
    display: flex;
    justify-content: center;
     color: #cfc6b8;
     text-decoration: none;
     gap: 14px;
     margin-top: 10px;
}
.end-links a{
     color: #cfc6b8;
     text-decoration: none;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
}
.end-links a:hover {
    color: wheat;
    transition: 0.1s cubic-bezier(0.57, 0.68, 0.45, 1.36);


    transition: color 0.3s;
}
.end-links p{
    font-weight: 800;
    font-size: 20px;
}
.end-icons{
    display: flex;
    justify-content: flex-end;
    margin-top: -51px;
    max-width: 87vw;
}
.end-icons img{
    width: 32px;
    height: 32px;
    
}
.ft-links p {
    display: flex;
font-size: 14px;
    flex-direction: column;
    text-decoration: none;
    color: #cfc6b8;
}

.ft-links p:hover {
    color: wheat;
    transition: 0.1s cubic-bezier(0.57, 0.68, 0.45, 1.36);


    transition: color 0.3s;
}
@media (max-width: 767px){
    .contact-all {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 9px;
}
.contact-h{
    margin-top: 7px;
}
.contact-h p {
    color: #6B6B6B;
    font-size: 13px;
   max-width: 97vw;
    margin: auto;
}
.contact-f input {
    padding: 15px;
    padding-right: 170px;
    border: 1px solid #d0cdcd;
    border-radius: 6px;
    width: 30vw;
}
.contact-f textarea {
    padding: 15px;
    padding-right: 0px;
    border: 1px solid #d0cdcd;
    border-radius: 6px;
    width: 77vw;
    height: 19vh;
    font-family: "Poppins", sans-serif;
}
.contact-f .submit-btn {
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(90, 62, 43);
    padding: 15px;
    padding-right: 47px;
    border-radius: 6px;
    width: 81vw;
    padding-left: 47px;
}
 .footall {
    grid-template-columns: 1fr;
            /* text-align: center; */
        gap: 14px;
        max-width: 85vw;
        margin: auto;
  }
  .footh p{
    width: 86vw;
  }
  .sep {
    width: 100vw;
    height: 1px;
    background-color: wheat;
    margin-top: 45px;
    margin-left: -20px;
  }

  .end-icons {
    justify-content: center;
    margin-top: 20px;
  }
  .last{
    margin-top: 126px;
  }
}

@media(min-width: 768px) and
 (max-width: 1024px){
     .footall {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .footh p {
    width: auto;
  }
  .contact-all{
    height: 53vh;
  }
}