@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.all {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 43vh;
}

.h1 {
    font-weight: 900;
    font-size: 30px;
    color: rgb(90, 62, 43);
     animation: first 3s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.02, 1.08);
    animation-delay: 0s;
    animation-iteration-count: 1;
}
@keyframes first{
    from{
        transform: translateY(-120px);
    }
    to{
        transform: translateY(0px);
    }
}
.p{
    color: #6B6B6B;
    font-size: 20px;
      animation: second 3s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.02, 1.08);
    animation-delay: 0s;
    animation-iteration-count: 1;
}
@keyframes second{
    from{
        transform: translateX(-420px);
    }
    to{
        transform: translateX(0px);
    }
}

.footer {
    background-color: #2f2620;
    margin-top: 50px;
    padding: 29px 20px;
}

.footall {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: "Poppins", sans-serif;
    max-width: 89vw;
    margin: auto;
    margin-top: 66px;
    gap: 90px;
}

.footh h1 {
    color: #f5efe6;

}

.footh p {
    color: #cfc6b8;
    padding-top: 10px;
    width: 20vw;
}

.ft-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 21px;
}

.footh h2 {
    color: #f5efe6;
    font-size: 21px;
}


.ft-links a {
    display: flex;
font-size: 14px;
    flex-direction: column;
    text-decoration: none;
    color: #cfc6b8;
}

.ft-links a:hover {
    color: wheat;
    transition: 0.1s cubic-bezier(0.57, 0.68, 0.45, 1.36);


    transition: color 0.3s;
}
.sep{
    width: 96vw;
    height: 1px;
    background-color: wheat;
    margin-top: 72px;
}
.end{
    text-align: center;
     color: #cfc6b8;
     margin-top: 19px;
     font-family: "Poppins", sans-serif;
     font-size: 18px;
}
.end-links{
    display: flex;
    justify-content: center;
     color: #cfc6b8;
     text-decoration: none;
     gap: 14px;
     margin-top: 10px;
}
.end-links a{
     color: #cfc6b8;
     text-decoration: none;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
}
.end-links a:hover {
    color: wheat;
    transition: 0.1s cubic-bezier(0.57, 0.68, 0.45, 1.36);


    transition: color 0.3s;
}
.end-links p{
    font-weight: 800;
    font-size: 20px;
}
.end-icons{
    display: flex;
    justify-content: flex-end;
    margin-top: -51px;
    max-width: 87vw;
}
.end-icons img{
    width: 32px;
    height: 32px;
    
}
.ft-links p {
    display: flex;
font-size: 14px;
    flex-direction: column;
    text-decoration: none;
    color: #cfc6b8;
}

.ft-links p:hover {
    color: wheat;
    transition: 0.1s cubic-bezier(0.57, 0.68, 0.45, 1.36);


    transition: color 0.3s;
}
